@import 'tw-animate-css';

@import './theme.css';
@import './variables.css';

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

/* 1Password Input Fix */
.dark input[data-com-onepassword-filled='light'] {
  color: #000000;
}

.dark input[data-com-onepassword-filled='dark'] {
  color: #ffffff;
}
